.conteiner{
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.letra{
    font-family: 'Cambria', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.letraTexto{
    font-family: 'Cambria', sans-serif;
    font-size: 1.5rem;
 }

.imgConteiner{
    background: #000;
    width: 100%;
    height: 100%;
}
.imgConteiner img{
    width: 100%;
    height: 100%;

}